/*
    Colors
*/
color-black = #2d323e;
color-black-light = #555555;
color-grey = #b8c2cc;
color-grey-dark = #8a9199;
color-grey-light = #e1eaf2;


color-primary = #5bc5f2;
color-secondary = #ffa726;
color-error = #f00;
color-text = color-grey-dark;

color-line = color-grey-light;
background-color = #e7e7e7;


/*
    Sizing
*/

unit = 1rem;
font-size = 1.45rem;

/*
    Fonts
*/

main-font = Roboto, sans-serif;



/*
    Indexes
*/

z-index-highest = 300;
z-index-higher = 200;
z-index-high = 100;
z-index-normal = 1;
z-index-low = -100;
z-index-lower = -200;


/*
    Layouts
*/

layout-breakpoint-xxxs = 360px;
layout-breakpoint-xxs = 80px;
layout-breakpoint-xs = 600px;
layout-breakpoint-sm-tablet = 720px;
layout-breakpoint-sm = 840px;
layout-breakpoint-md = 960px;
layout-breakpoint-lg-tablet = 1024px;
layout-breakpoint-lg = 1280px;
layout-breakpoint-xl = 1440px;
layout-breakpoint-xxl = 1600px;
layout-breakpoint-xxxl = 1920px;


/*
    Other
*/


box-shadow = 0 0.1rem 0.4rem rgba(0,0,0,.04);
border-radius = 0.3rem;









