@import './config';

.simple-select-field {
	line-height: font-size;
	font-size: font-size;
	font-weight: 400;
	position: relative;

	&__select {
		width: 100%;
		height: 100%;
	}

	&__value-box {
		color: color-text;
		flex-grow: 1
	}

	&__inner-box {
		display: flex;
		align-items: center;
	}

	&__icon-box {
		display: flex;
		align-items: center;
	}

	&__select-box {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		opacity: 0;
		//visibility: hidden;
	}
}

